<mat-toolbar>
    <span>LOGO</span>

    <span class="flexExpand"></span>

    <a mat-button routerLink="home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="aboutUs" routerLinkActive="active">About Us</a>
    <a mat-button routerLink="products" routerLinkActive="active">Products</a>
    <a mat-button routerLink="clients" routerLinkActive="active">Clients</a>
    <a mat-button routerLink="gallery" routerLinkActive="active">Gallery</a>
    <a class="contact-button" routerLink="contactUs" color="warn" mat-raised-button>Contact Us</a>
</mat-toolbar>