<div class="main-container">
    <div class="text-container">
        <h1><span>Gal</span>lery</h1>
    </div>
    <div class="picture-gallery">
        <div class="gallery-image one">
            <img src="../assets/images/image 7.png" alt="">
        </div>
        <div class="gallery-image two">
            <img src="../assets/images/image 4.png" alt="">
        </div>
        <div class="gallery-image three">
            <img src="../assets/images/image 6.png" alt="">
        </div>
        <div class="gallery-image four">
            <img src="../assets/images/image 5.png" alt="">
        </div>
    </div>
</div>

<div id="carousel">
    <div class="slide slide1"><img src="https://picsum.photos/800/300?random=1"></div>
    <div class="slide slide2"><img src="https://picsum.photos/800/300?random=2"></div>
    <div class="slide slide3"><img src="https://picsum.photos/800/300?random=3"></div>
    <div class="slide slide4"><img src="https://picsum.photos/800/300?random=4"></div>
  </div>

