@media only screen and (min-width: 320px) and (max-width: 500px) {
    .background_image{
        display: none;
    }
    .newBackground{
        z-index: 1;
        display: block;
        height: 863px;
    }
}